{% form 'cart', cart %}


  <h2>Cart</h2>

  {% for item in cart.items %}
    <div>
      <img src="{{ item.image | image_url: width: 200 }}">
      <p>{{ item.title }}</p>
      <p>{{ item.price | money }}</p>
      <input
        id="inputA"
        name="updates[]"
        value="{{ item.quantity }}" />
      <a href="{{item.url_to_remove}}">Remove</a>
    </div>
  {% endfor %}

  <button type="submit" name="checkout">Checkout</button>

{% endform %}

<script>
  jQuery('input[name="updates[]"]').on('input', function() {
    console.log(this.event)
  });
</script>